apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: victoria-metrics-datasource
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: "http://vmsingle-victoria-metrics-k8s-stack.monitoring.svc:8429"
    isDefault: true
