apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: etcd-backup
  namespace: kube-system
  labels:
    app.kubernetes.io/name: etcd-backup
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: truenas-nfs-csi
  resources:
    requests:
      storage: 10Gi
