apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vmagent
  namespace: monitoring
spec:
  daemonSetMode: true
  selectAllByDefault: true
  scrapeInterval: 20s
  remoteWrite:
    - url: http://vmsingle-vmsingle.monitoring.svc:8428/api/v1/write
  resources:
    requests:
      cpu: 50m
      memory: 200Mi
    limits:
      cpu: 200m
      memory: 500Mi
  extraArgs:
    promscrape.streamParse: "true"
    promscrape.dropOriginalLabels: "true"
    remoteWrite.tmpDataPath: /vmagent-wal
    remoteWrite.maxDiskUsagePerURL: "2147483648"
  volumes:
    - name: vmagent-wal-host
      hostPath:
        path: /var/lib/vmagent-wal
        type: DirectoryOrCreate
  volumeMounts:
    - name: vmagent-wal-host
      mountPath: /vmagent-wal
