apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vmagent
  namespace: monitoring
spec:
  daemonSetMode: true
  selectAllByDefault: true
  scrapeInterval: 20s
  remoteWrite:
    - url: http://vmsingle-vmsingle.monitoring.svc:8428/api/v1/write
  resources:
    requests:
      cpu: 50m
      memory: 200Mi
    limits:
      cpu: 200m
      memory: 500Mi
  extraArgs:
    promscrape.streamParse: "true"
    promscrape.dropOriginalLabels: "true"
    remoteWrite.maxDiskUsagePerURL: "2147483648"
  # NOTE: volumes/volumeMounts don't work in DaemonSetMode due to operator bug
  # See: https://github.com/VictoriaMetrics/operator/issues/1677
  # WAL uses emptyDir (lost on pod restart, but survives network outage)
