apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vmagent
  namespace: monitoring
spec:
  selectAllByDefault: true
  scrapeInterval: 20s
  remoteWrite:
    - url: http://vmsingle-vmsingle.monitoring.svc:8428/api/v1/write
      maxDiskUsage: 2GB
  remoteWriteSettings:
    tmpDataPath: /vmagent-queue
  resources:
    requests:
      cpu: 50m
      memory: 200Mi
    limits:
      cpu: 200m
      memory: 500Mi
  extraArgs:
    promscrape.streamParse: "true"
    promscrape.dropOriginalLabels: "true"
  volumes:
    - name: vmagent-queue
      hostPath:
        path: /var/lib/vmagent-queue
        type: DirectoryOrCreate
  volumeMounts:
    - name: vmagent-queue
      mountPath: /vmagent-queue
