apiVersion: operator.victoriametrics.com/v1beta1
kind: VMSingle
metadata:
  name: vmsingle
  namespace: monitoring
spec:
  retentionPeriod: "7d"
  replicaCount: 1
  storage:
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 1Gi
  extraArgs:
    dedup.minScrapeInterval: "15s"
    search.cacheTimestampOffset: "15m"
    cacheExpireDuration: "1h"
    memory.allowedPercent: "70"
    maxConcurrentInserts: "4"
    inmemoryDataFlushInterval: "30s"
