apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-routes
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: monitoring
  destination:
    namespace: monitoring
    server: "https://kubernetes.default.svc"
  source:
    repoURL: "https://github.com/lexfrei/k8s.git"
    targetRevision: HEAD
    path: manifests/loki
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
