apiVersion: v1
kind: PersistentVolume
metadata:
  name: transmission-downloads-nfs
spec:
  capacity:
    storage: 10Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 172.16.10.19
    path: /mnt/pool/Transmission
  mountOptions:
    - nfsvers=4.1
    - rsize=1048576
    - wsize=1048576
    - soft
    - timeo=100
    - retrans=2
    - noresvport
    - noatime
    - tcp
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission-downloads-nfs
  namespace: transmission-system
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 10Ti
  volumeName: transmission-downloads-nfs
