apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: truenas-nfs-csi
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: nfs.csi.k8s.io
parameters:
  server: 172.16.10.19
  share: /mnt/pool/k8s
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
  - rsize=1048576
  - wsize=1048576
  - soft
  - timeo=100
  - retrans=2
  - noresvport
  - noatime
  - tcp
