apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ipmi-exporter
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: openbao
    kind: ClusterSecretStore
  target:
    name: ipmi-exporter
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config.yml: |
          modules:
            default:
              user: "{{ .user }}"
              pass: "{{ .pass }}"
              driver: "LAN_2_0"
              privilege: "user"
              timeout: 10000
              collectors:
                - bmc
                - ipmi
                - chassis
                - sel
  data:
    - secretKey: user
      remoteRef:
        key: secret/data/ipmi/credentials
        property: user
    - secretKey: pass
      remoteRef:
        key: secret/data/ipmi/credentials
        property: pass
