apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra
  destination:
    namespace: traefik-system
    server: "https://kubernetes.default.svc"
  source:
    repoURL: "https://helm.traefik.io/traefik"
    targetRevision: "27.0.2"
    chart: traefik
    helm:
      valuesObject:
        service:
          annotations:
            traefik.universe.tf/address-pool: ingress-pool
        additionalArguments:
          # Disable internal ssl check
          - "--serversTransport.insecureSkipVerify=true"
          # entrypoint for cloudflared
          - "--entrypoints.tunnel.address=:8080"
        globalArguments:
          - "--global.checknewversion"
        ports:
          web:
            redirectTo:
              port: websecure
          tunnel:
            port: 8080
            exposedPort: 8080
            expose:
              default: true
        ingressRoute:
          dashboard:
            enabled: true
            matchRule: Host(`traefik.k8s.home.lex.la`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
            entryPoints:
              - websecure
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
