apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra
  destination:
    namespace: traefik-system
    server: "https://kubernetes.default.svc"
  sources:
    - repoURL: "https://helm.traefik.io/traefik"
      targetRevision: "33.0.0"
      chart: traefik
      helm:
        valuesObject:
          service:
            annotations:
              traefik.universe.tf/address-pool: ingress-pool
          additionalArguments:
            # Disable internal ssl check
            - "--serversTransport.insecureSkipVerify=true"
            # entrypoint for cloudflared
            - "--entrypoints.tunnel.address=:9090"
          globalArguments:
            - "--global.checknewversion"
          ports:
            web:
              redirectTo:
                port: websecure
            tunnel:
              port: 9090
              exposedPort: 9090
              expose:
                default: true
          ingressRoute:
            dashboard:
              enabled: true
              matchRule: Host(`traefik.k8s.cali.lex.la`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
              entryPoints:
                - websecure
              tls:
                secretName: traefik-tls-secret
          providers:
            kubernetesIngress:
              publishedService:
                enabled: true
    - path: manifests/traefik
      repoURL: https://github.com/lexfrei/k8s.git
      targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
