name: Kubescape scanning for misconfigurations
on: [push, pull_request]

jobs:
  kubescape:
    runs-on: homelab
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v6

      - name: Install kubescape
        run: |
          LATEST=$(curl --silent "https://api.github.com/repos/kubescape/kubescape/releases/latest" | grep '"tag_name"' | sed 's/.*"v\(.*\)".*/\1/')
          curl --silent --location --fail --output kubescape \
            "https://github.com/kubescape/kubescape/releases/download/v${LATEST}/kubescape_${LATEST}_linux_arm64"
          chmod +x kubescape
          sudo mv kubescape /usr/local/bin/

      - name: Run kubescape scan
        run: |
          kubescape scan framework all . \
            --format sarif \
            --output results.sarif

      - name: Upload Kubescape scan results to Github Code Scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
